<div id="SignIn">
  <form>
      <div class="container">
          <h1>Sign In</h1>
          <hr>
          
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Pasword</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
                      
          <div class="clearfix">
            <button type="button" class="cancelbtn">Reset</button>
            <button type="submit" class="signupbtn">Sign In</button>
          </div>
        </div>
  </form>
</div>