<body ng-app="">
<div class="body">
<app-header></app-header>
<br><br><br><br>
<div class="container">
  <h3 style="text-align:center;">Welcome to Admin Panel</h3>
  <hr>
</div><br>
<div class="container">
    
    <div class="row">

        <div class="col-md-1">
        </div>
        
        <div class="col-md-10 signup"  >
            <p class="already" style="text-align:center">Please fill your professional details here :</p> 
               
            <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" class="signupform">
                <br> 
                <div class="row">
                <div class="col-md-6 form-border">
                    <div class="form-group">
                         <h6>Qualification:</h6>
                         <input type="text" 
                             class="form-control" 
                             id="qualification" 
                             placeholder="Enter Qualification" 
                             name="qualification"
                             [(ngModel)]="user.qualification"
                             #userqualification="ngModel"
                             pattern="^[a-zA-Z][a-zA-Z\s]{2,15}$"
                             required>
                     </div>
                     <div *ngIf="userqualification.errors?.required && userqualification.touched" class="alert alert-danger">Qualification is required</div>

            
                     
                      <div class="form-group">
                        <h6>Specialization:</h6>
                        <input type="text" 
                            class="form-control" 
                            id="specialization" 
                            placeholder="Enter Specialization" 
                            name="specialization"
                            [(ngModel)]="user.specialization"
                            #userspecialization="ngModel"
                           
                            required>
                    </div>
           
                    <div *ngIf="userspecialization.errors?.required && userspecialization.touched" class="alert alert-danger">Specialization is required</div>

            
                     
            
                     <div class="form-group">
                         <h6>Experience:</h6>
                         <input type="text" 
                             class="form-control" 
                             id="experience" 
                             placeholder="Enter Experience" 
                             name="experience"
                             [(ngModel)]="user.experience"
                             #userexperience="ngModel"
                            
                             required>
                     </div>
            
                     <div *ngIf="userexperience.errors?.required && userexperience.touched" class="alert alert-danger">Experience is required</div>
                     
                     
                     <div class="form-group">
                         <h6>Practicing Since:</h6>
                         <input type="text"  
                             class="form-control" 
                             id="practicing" 
                             placeholder="Ex: Practicing Since 1990" 
                             name="practicing"
                             [(ngModel)]="user.practicing"
                             #userpracticing="ngModel"
                            required>
                     </div>
                     <div *ngIf="userpracticing.errors?.required && userpracticing.touched" class="alert alert-danger">Practicing Since is required</div>
            
            
                        
                    <div class="form-group">
                            <h6>Certificates :</h6>
                            <input type="file" 
                            class="form-control" 
                            id="certificates" 
                            placeholder="Select file" 
                            name="certificates"
                            [(ngModel)]="user.certificates"
                            #usercertificates="ngModel"
                        required >
                        </div>
                        <div *ngIf="usercertificates.errors?.required && usercertificates.touched" class="alert alert-danger">Certificates is required</div>
                    
                            <div class="form-group">
                                    <h6>Do you have your own Hospital/Clinic :</h6>
                                    <input type="radio" ng-model="myVar" value="yes"  >Yes
                                    <input type="radio" ng-model="myVar" value="{{no.isDefault}}">No
                                </div>
                                 
                                 <div ng-switch="myVar">
                                        <div ng-switch-when="yes">

                                                <div class="form-group">
                                                        <h6>GST No:</h6>
                                                        <input type="text"  
                                                            class="form-control" 
                                                            id="gst" 
                                                            placeholder="Enter GST No" 
                                                            name="gst"
                                                            [(ngModel)]="user.gst"
                                                            #usergst="ngModel"
                                                           required>
                                                    </div>
                                                    <div *ngIf="usergst.errors?.required && usergst.touched" class="alert alert-danger">GST NO  is required</div>
                                           
                                        </div>
                                       
                                  </div>
                                 

                             <div class="form-group">
                                 <h6>Profile Pic :</h6>
                                    <input type="file" 
                                    class="form-control" 
                                    id="profile" 
                                    placeholder="Select file" 
                                    name="profile"
                                    [(ngModel)]="user.profile"
                                    #userprofile="ngModel"
                                    required >
                             </div>
                                <div *ngIf="userprofile.errors?.required && userprofile.touched" class="alert alert-danger">Profile Pic is required</div>       

                                <div class="form-group">
                                        <h6>Languages Spoken:</h6>
                                        <input type="text"  
                                            class="form-control" 
                                            id="languages" 
                                            placeholder="Enter Languages Spoken " 
                                            name="languages" 
                                            [(ngModel)]="user.languages"
                                            #userlanguages="ngModel"
                                           >
                                    </div>
                                    <div class="form-group">
                                            <h6>Certifications & Trainings:</h6>
                                            <textarea 
                                                class="form-control" 
                                                id="training" 
                                                placeholder="Please provide comma(,) in between" 
                                                rows="3"
                                                name="training"
                                                [(ngModel)]="user.training"
                                                #usertraining="ngModel"
                                               required>
                                               </textarea>
                                        </div>
                                        <div *ngIf="usertraining.errors?.required && usertraining.touched" class="alert alert-danger">Certifications & Trainings is required</div>
                                    
                                        <div class="form-group">
                                                <h6>Brief Profile:</h6>
                                                <textarea 
                                                    class="form-control" 
                                                    id="profile" 
                                                    placeholder="Enter brief description" 
                                                    rows="3"
                                                    name="profile"
                                                    [(ngModel)]="user.profile"
                                                    #userprofile="ngModel"
                                                   required>
                                                   </textarea>
                                            </div>
                                            <div *ngIf="userprofile.errors?.required && userprofile.touched" class="alert alert-danger">Brief Profile is required</div> 

                                            <div class="form-group">
                                                    <h6>Membership & Accreditations:</h6>
                                                    <textarea 
                                                        class="form-control" 
                                                        id="membership" 
                                                        placeholder="Enter Membership & Accreditations" 
                                                        rows="3"
                                                        name="membership"
                                                        [(ngModel)]="user.membership"
                                                        #usermembership="ngModel"
                                                       >
                                                       </textarea>
                                             </div>
                                                
                   
                                        </div>

                    <div class="col-md-6" style="padding-left:40px;">
                            <div class="form-group">
                                    <h6>Honors & Awards:</h6>
                                    <textarea 
                                        class="form-control" 
                                        id="awards" 
                                        placeholder="Enter Honors & Awards" 
                                        rows="3"
                                        name="awards"
                                        [(ngModel)]="user.awards"
                                        #userawards="ngModel"
                                       required>
                                       </textarea>
                                </div>
                                
                            
                                <div class="form-group">
                                        <h6>Clinical Focus:</h6>
                                        <textarea 
                                            class="form-control" 
                                            id="profile" 
                                            placeholder="Please provide comma(,) in between" 
                                            rows="3"
                                            name="cilinicalfocus"
                                            [(ngModel)]="user.cilinicalfocus"
                                            #usercilinicalfocus="ngModel"
                                           >
                                           </textarea>
                                    </div>
                                   

                                    <div class="form-group">
                                            <h6>Procedures:</h6>
                                            <textarea 
                                                class="form-control" 
                                                id="procedures" 
                                                placeholder="Please provide comma(,) in between" 
                                                rows="3"
                                                name="procedures"
                                                [(ngModel)]="user.procedures"
                                                #userprocedures="ngModel"
                                               >
                                               </textarea>
                                     </div>

                                     <p class="already" style="text-align:center">Hospital/Clinic Address :</p> 

                                     <div class="form-group">
                                            <h6>Area:</h6>
                                            <input type="text"  
                                                class="form-control" 
                                                id="area" 
                                                placeholder="Enter Clinic Area" 
                                                name="area" 
                                                [(ngModel)]="user.area"
                                                #userarea="ngModel"
                                               >
                                        </div>

                                        <div class="form-group">
                                                <h6>City:</h6>
                                                <input type="text"  
                                                    class="form-control" 
                                                    id="city" 
                                                    placeholder="Enter City" 
                                                    name="city" 
                                                    [(ngModel)]="user.city"
                                                    #usercity="ngModel"
                                                   >
                                            </div>

                                            <div class="form-group">
                                                    <h6>Pincode:</h6>
                                                    <input type="text"  
                                                        class="form-control" 
                                                        id="pincode" 
                                                        placeholder="Enter Pincode" 
                                                        name="pincode" 
                                                        pattern="^[0-9]{0,6}$"
                                                        [(ngModel)]="user.pincode"
                                                        #userpincode="ngModel"
                                                       required>
                                                    </div>
                                                   
                                                    <div *ngIf="userpincode.errors?.required && userpincode.touched" class="alert alert-danger">Pincode is required</div>
                                                  

                                                 <div *ngIf="userpincode.errors?.pattern" class="alert alert-danger">Please provide a valid pincode</div>


                                                
                                                <div class="form-group">
                                                    <h6>Phone/Landline:</h6>
                                                    <input type="text"  
                                                        class="form-control" 
                                                        id="phone" 
                                                        placeholder="Enter Phone" 
                                                        name="phone"
                                                        [(ngModel)]="user.phone"
                                                        #userphone="ngModel"
                                                        minlength="12"
                                                        maxlength="12"
                                                        pattern="^[0-9]{0,3}[-][0-9]{0,8}$"
                                                    required>
                                                </div>
                                                <div *ngIf="userphone.errors?.pattern || userphone.errors?.maxlength || userphone.errors?.minlength " class="alert alert-danger">Please provide a valid phone number along with STD code</div> 
                                                <div *ngIf="userphone.errors?.required && userphone.touched" class="alert alert-danger">Phone Number is required</div>
                                                 
                                                    <div class="form-group">
                                                            <h6>Mobile:</h6>
                                                            <input type="text"  
                                                                class="form-control" 
                                                                id="mobile" 
                                                                placeholder="Enter mobile" 
                                                                name="mobile"
                                                                [(ngModel)]="user.mobile"
                                                                #usermobile="ngModel"
                                                                minlength="10"
                                                                maxlength="10"
                                                                pattern="^[6789][0-9]{0,10}$"
                                                               required>
                                                        </div>
                                                        <div *ngIf="usermobile.errors?.maxlength || usermobile.errors?.minlength && usermobile.touched" class="alert alert-danger">Enter a 10 digit phone number</div>
                                                        <div *ngIf="usermobile.errors?.pattern" class="alert alert-danger">Please provide a valid phone number</div> 
                                                        <div *ngIf="usermobile.errors?.required && usermobile.touched" class="alert alert-danger">Phone Number is required</div>
                                                        <div class="form-group">

                                                                <h6>Timings:</h6>
                                                                <div ng-controller="timectrl">
       
                                                                        <input type="time" 
                                                                        class="form-control"
                                                                        id="am" placeholder="HH:mm" 
                                                                        name="am"
                                                                        ng-model="time" required >
                                                                    </div>
                                                                </div><br>

                                                                <hr>
                                                                <button  type="submit" class="btn btn-primary" style="float:right">SUBMIT</button>
                                                               
                     </div>

                    </div>
                   
                    
                  
                   
            </form>


           </div>
       
                

        

           <div class="col-md-1">
          </div>

     </div>
</div><br><br><br><br><br><br><br><br>



  
        
      


<app-footer></app-footer>
</div>
</body>
