<div id="SignIn">
  <form>
      <div class="container">
          <h1 class="form_heading">Sign In</h1>
          <hr>
          <div class="formstyle">
          
          <label><b>Username</b></label><br>
          <input type="text" placeholder="Enter Username" name="admin_user" required><br>

          <label><b>Password</b></label><br>
          <input type="password" placeholder="Enter Password" name="password" required><br>
      
          <div class="clearfix">
            <button type="reset" class="cancelbtn">Reset</button>
            <button type="submit" class="signupbtn">Sign In</button>
          </div>

          </div>
        </div>
  </form>
</div>