<app-header></app-header><br><br><br><br>

 
<div class="container" id="profiletab"><br>
  <h3>Hello Admin, Welcome</h3>
  <button   (click)="open(content)" class="btn btn-info" style='float:right;margin-top:-40px;'>Add New Activity</button>
  <hr><br>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/images/person-icon.png">
        </div>

        <div class="col-md-8">
           <p class="text-justify">    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet non quam eget fringilla. Sed vel sapien tincidunt, consequat erat interdum, condimentum erat. Praesent eget tellus urna. Mauris elit ligula, aliquam et odio ut, finibus interdum lorem. Curabitur sodales nunc non quam aliquet feugiat. Maecenas mollis pharetra nunc a dignissim. Nam venenatis eu libero sit amet accumsan. Sed quam purus, cursus gravida efficitur nec, molestie nec enim. Etiam sed metus in dolor molestie placerat varius quis sapien. Integer varius convallis purus eu euismod. Maecenas sit amet arcu ullamcorper, sagittis dolor id, gravida velit.</p>

           <p class="text-justify"> Vestibulum semper bibendum eleifend. Integer eget mauris non ipsum iaculis convallis. Aliquam nisl mauris, facilisis nec aliquam eget, maximus a odio. Mauris venenatis sapien in venenatis maximus. Donec sodales aliquet cursus. Morbi id urna feugiat, tincidunt quam sed, sagittis magna. Maecenas euismod euismod leo, ornare malesuada diam blandit sed. Morbi dignissim scelerisque congue. Nunc ipsum quam, ultricies commodo mi eget, laoreet rhoncus metus. Aenean feugiat quam vel sodales rutrum. Mauris ultrices rhoncus ligula, ut venenatis est porttitor ac. Donec sed eleifend quam. Ut hendrerit feugiat sollicitudin.</p>
        </div>
  

    </div><br>
    <div class="row">
        <div class="col-md-12">
            <a href="/recentactivity" class="headinglink"><h3>Recent Activities</h3></a>
            <hr><br>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/recentactivity"> <img src="assets/images/doctor2.jpg" alt="No image" width="100%" height="250"></a>
          </div>
          <div class="carousel-item">
            <a href="/recentactivity"><img src="assets/images/doctor1.jpeg" alt="No image" width="100%" height="250"></a>
          </div>
          <div class="carousel-item">
            <a href="/recentactivity"><img src="assets/images/doctor3.png" alt="No image" width="100%"  height="250"></a>
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      </div>

      <div class="col-md-12" style="margin-top:40px;">
        
       </div>
      


     </div>

     <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Add Your Activity</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" >
              <div class="form-group">
                   <label>Activity Name :</label>
                   <input type="text" 
                       class="form-control" 
                       id="aname" 
                       placeholder="Enter Activity Name" 
                       name="aname"
                      required >
               </div>

               <div class="form-group">
                  <label>Activity Description :</label>
                  <textarea 
                      class="form-control" 
                      id="desc" 
                      rows="3"
                      placeholder="Enter Description" 
                      name="desc"
                     required >
                    </textarea>
              </div>

              <div class="form-group">
                  <label>Venue :</label>
                  <textarea 
                      class="form-control" 
                      id="venue" 
                      rows="4"
                      placeholder="Enter Address" 
                      name="venue"
                     required >
                    </textarea>
              </div>


              <div class="form-group">
                <label>Image/Banner :</label>
                <input type="file" 
                class="form-control" 
                id="image" 
                placeholder="Select file" 
                name="image"
               required >
            </div>




              <div class="form-group">
                  <label>Start Date :</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                  <label>End Date :</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp1" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </button>
                  </div>
                </div>
              </div>
  
               </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Save</button>
      </div>
    </ng-template>
    
   
    
    <hr>
    
    


    </div> <br><br><br><br>


  
<app-footer></app-footer>