<div id="registration">
  <form>
      <div class="container">
          <h1 class="form_heading">Sign Up</h1>
          <hr>
          <div class="formstyle">
          <label><b>First Name</b></label><br>
          <input type="text" placeholder="Enter FirstName" name="firstname" required><br>

          <label><b>Last Name</b></label><br>
          <input type="text" placeholder="Enter LastName" name="lastname" required><br>


          <label><b>Email</b></label><br>
          <input type="email" placeholder="Enter Email" name="email" required><br>
      
          <label><b>Username</b></label><br>
          <input type="text" placeholder="Enter Username" name="admin_user" required><br>

          <label><b>Password</b></label><br>
          <input type="password" placeholder="Enter Password" name="password" required><br>

          <label><b>Phone</b></label><br>
          <input type="text" placeholder="Enter Phone" name="phone" required><br>

          <label><b>Profession</b></label><br>
          <input type="text" placeholder="Enter Profession" name="profession" required><br>
          
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>
          
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      
          <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>

          </div>
        </div>
  </form>
</div>

<app-footer></app-footer>